@page "/profile"

@using EnoLandingPageFrontend.Services
@using EnoLandingPageCore.Messages
@using EnoLandingPageCore.Database
@inject EnoLandingPageService DataService


@if (teamInformation != null && ctfInfo != null)
{
    <h1>@(teamInformation.TeamName)</h1>
    if (!teamInformation.Confirmed)
    {
        <div class="alert alert-danger" role="alert">
            Your participation hasn't been confirmed yet!
        </div>
        if (ctfInfo.StartTime.AddHours(-ctfInfo.RegistrationCloseOffset) > DateTime.UtcNow)
        {
            <p>Please check in once the registration closes at @(ctfInfo.StartTime.AddHours(-ctfInfo.RegistrationCloseOffset).ToString())</p>
        }
        else
        {
            <button @onclick="CheckIn">Check In!</button>
        }
    }
    else
    {
        <div class="alert alert-success" role="alert">
            Your participation has been confirmed!
        </div>

        if (teamInformation.VulnboxStatus == LandingPageVulnboxStatus.None)
        {
            <button @onclick="StartVm">Create VM</button>
        }
        else if (teamInformation.VulnboxStatus == LandingPageVulnboxStatus.Creating)
        {
            <p>Your VM is starting!</p>
        }
        else if (teamInformation.VulnboxStatus == LandingPageVulnboxStatus.Created)
        {
            <button @onclick="StartVm">Force Reboot</button>
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                We fucked up. Please contact us.
            </div>
        }

        if (vmInteractionFeedback != null)
        {
            <p>@vmInteractionFeedback</p>
        }
    }
    <div>
        <div>External IP Address:</div>
        <code>@(teamInformation.ExternalIpAddress ?? "t.b.d.")</code>
    </div>
    <div>
        <div>Root Password:</div>
        <code>@(teamInformation.RootPassword ?? "t.b.d.")</code>
    </div>
    <div>
        <div>Internal IP Address:</div>
        <code>@(teamInformation.InternalIpAddress ?? "t.b.d.")</code>
    </div>
    <div>
        <div>Vulnbox Status:</div>
        <code>@teamInformation.VulnboxStatus</code>
    </div>
    <div>
        <div>Vpn Configuration:</div>
        <code>@(teamInformation.VpnConfig ?? "t.b.d.")</code>
    </div>
}

@code {
    private TeamDetailsMessage? teamInformation;
    private CtfInfoMessage? ctfInfo;
    private string? vmInteractionFeedback;

    protected override async Task OnInitializedAsync()
    {
        teamInformation = await DataService.GetTeamInfo();
        ctfInfo = await DataService.GetCtfInfo();
    }

    protected async Task CheckIn(MouseEventArgs e)
    {
        await DataService.CheckIn();
        teamInformation = await DataService.GetTeamInfo();
    }

    protected async Task StartVm(MouseEventArgs e)
    {
        vmInteractionFeedback = null;
        try
        {
            await DataService.StartVm();
        }
        catch (Exception ex)
        {
            vmInteractionFeedback = ex.GetType().ToString();
        }

        teamInformation = await DataService.GetTeamInfo();
    }
}
