@page "/scoreboard"
@page "/scoreboard/round/{selectedRoundId:long}"

@using Microsoft.Extensions.Logging
@using EnoCore.Scoreboard
@using EnoCore
@using EnoLandingPageFrontend.Services
@using System.Security.Claims

@inject LandingPageScoreboardApiService ScoreboardService
@inject AuthenticationStateProvider authenticationStateProvider
@inject ILogger<ScoreboardView> logger

@if (currentScoreboard != null)
{
    var orderedTeams = currentScoreboard.Teams.OrderByDescending(t => t.TotalScore).ToArray();
    var orderedServices = currentScoreboard.Services.OrderBy(t => t.ServiceId).ToArray();
    <table class="scoreboard">
        <colgroup>
            <col class="team-rank" style="width:40px;" />
            <col class="team-name" style="width:15%;" />
            <col class="team-score" style="width:80px;" />
            @foreach (var service in orderedServices)
            {
                <col style="width: 1fr;" />
            }
        </colgroup>
        <thead>
            <tr>
                <td colspan="3">
                    <div class="roundcontrol">
                        <div>
                            <a class="fabutton" href="/scoreboard/round/0"><i class="p-2 fas fa-angle-double-left" /></a>
                            @if (currentScoreboard.CurrentRound > 0)
                            {
                                <a class="fabutton" href="/scoreboard/round/@(currentScoreboard.CurrentRound - 1)"><i class="p-2 fas fa-angle-left" /></a>
                            }
                            else
                            {
                                <i class="p-2 fas fa-angle-left" />
                            }
                        </div>
                        <div class="p-1">Round @currentScoreboard.CurrentRound</div>
                        <div>
                            @if (currentScoreboard.CurrentRound < ScoreboardService.LatestScoreboard?.CurrentRound)
                            {
                                <a class="fabutton" href="/scoreboard/round/@(currentScoreboard.CurrentRound + 1)"><i class="p-2 fas fa-angle-right" /></a>
                            }
                            else
                            {
                                <i class="p-2 fas fa-angle-right" />
                            }
                            <a class="fabutton" href="/scoreboard"><i class="p-2 fas fa-angle-double-right" /></a>
                        </div>
                    </div>
                </td>
                @foreach (var service in orderedServices)
                {
                    <td>@service.ServiceName</td>
                }
            </tr>
        </thead>
        <tr>
            <td colspan="3" />
            @foreach (var service in orderedServices)
            {
                <td class="p-2 firstblood-list-cell">
                    @for (int i = 0; i < service.FlagVariants; i++)
                    {
                        ScoreboardFirstBlood? fb = service.FirstBloods.Where(fb => fb.FlagVariantId == i).SingleOrDefault();
                        if (fb != null)
                        {
                            <div class="firstblood-list"><i class="scoreboard-icon blood fas fa-tint" />@orderedTeams.Where(t => t.TeamId == fb.TeamId).Single().TeamName</div>
                        }
                        else
                        {
                            <div class="firstblood-list"><i class="scoreboard-icon fas fa-tint" />Flagstore #@(i+1) unexploited</div>
                        }
                    }
                </td>
            }
        </tr>
        @for (int t = 0; t < currentScoreboard.Teams.Length; t++)
        {
            var team = orderedTeams[t];
            string? countryUrl = null;
            if (team.CountryCode != null && team.CountryCode != string.Empty)
            {
                countryUrl = $"https://cdn.ipregistry.co/flags/wikimedia/{team.CountryCode?.ToLower()}.png";
            }
            var orderedTeamServiceDetails = team.ServiceDetails.OrderBy(sd => sd.ServiceId).ToArray();
            var previousRoundTeam = previousScoreboard?.Teams.Where(t => t.TeamId == team.TeamId).Single();
            <tr class="@(team.TeamId == ownId ? "ownrow" : "otherrow")">
                <td class="team-rank">@(t+1)</td>
                <td>
                    <div class="team-container">
                        <div class="team-logo-container">
                            <img src="@team.LogoUrl" class="team-logo" referrerpolicy="no-referrer" />
                        </div>
                        <div class="team-name">@team.TeamName (10.0.0.@team.TeamId)</div>
                        <img src="@countryUrl" class="team-countryflag" referrerpolicy="no-referrer" />
                    </div>
                </td>
                @if (previousRoundTeam != null)
                {
                    long totalDiff = (long)(team.TotalScore - previousRoundTeam.TotalScore);
                    <td class="team-score">@((int) team.TotalScore) (@(totalDiff.ToString("+#;-#;+0")))</td>
                }
                else
                {
                    <td class="team-score">@((int) team.TotalScore)</td>
                }

                @for (int s = 0; s < team.ServiceDetails.Length; s++)
                {
                    var serviceDetails = orderedTeamServiceDetails[s];
                    @if (previousRoundTeam == null)
                    {
                        <td class="p-2 service-@(Enum.GetName(serviceDetails.ServiceStatus))">
                            @if (serviceDetails.Message != null)
                            {
                                <div class="errormessage">@serviceDetails.Message</div>
                            }
                            else
                            {
                                <div class="errormessage">testmessage</div>
                            }
                            <div class="service-stats">
                                <i class="scoreboard-icon fas fa-meteor" />
                                <div class="scoreboard-text">@((long) serviceDetails.AttackScore)</div>
                                <div class="scoreboard-text"></div>

                                <i class="scoreboard-icon fas fa-shield-alt" />
                                <div class="scoreboard-text">@((long) serviceDetails.DefenseScore)</div>
                                <div class="scoreboard-text"></div>

                                <i class="scoreboard-icon fas fa-heartbeat" />
                                <div class="scoreboard-text">@((long) serviceDetails.ServiceLevelAgreementScore)</div>
                                <div class="scoreboard-text"></div>
                            </div>
                        </td>
                    }
                    else
                    {
                        var orderedOldServices = previousRoundTeam.ServiceDetails.OrderBy(s => s.ServiceId).ToArray();
                        long slaDiff = (long)(serviceDetails.ServiceLevelAgreementScore - orderedOldServices[s].ServiceLevelAgreementScore);
                        long attackDiff = (long)(serviceDetails.AttackScore - orderedOldServices[s].AttackScore);
                        long defenseDiff = (long)(serviceDetails.DefenseScore - orderedOldServices[s].DefenseScore);
                        <td class="p-2 service-block service-@(Enum.GetName(serviceDetails.ServiceStatus))">
                            @if (serviceDetails.Message != null)
                            {
                                <div class="errormessage p-1">@serviceDetails.Message</div>
                            }
                            <div class="service-stats">
                                <i class="scoreboard-icon fas fa-meteor" />
                                <div class="scoreboard-text">@((long) serviceDetails.AttackScore)</div>
                                <div class="scoreboard-text">(@(attackDiff.ToString("+#;-#;+0")))</div>


                                <i class="scoreboard-icon fas fa-shield-alt" />
                                <div class="scoreboard-text">@((long) serviceDetails.DefenseScore)</div>
                                <div class="scoreboard-text">(@(defenseDiff.ToString("+#;-#;-0")))</div>


                                <i class="scoreboard-icon fas fa-heartbeat" />
                                <div class="scoreboard-text">@((long) serviceDetails.ServiceLevelAgreementScore)</div>
                                <div class="scoreboard-text">(@(slaDiff.ToString("+#;-#;+0")))</div>
                            </div>
                        </td>
                    }
                }
            </tr>
        }
    </table>
}


@code {
    [Parameter]
    public long? selectedRoundId { get; set; }
    private Scoreboard? previousScoreboard;
    private Scoreboard? currentScoreboard;
    private long? ownId;

    protected override Task OnInitializedAsync()
    {
        ScoreboardService.NewScoreboardEvent += HandleNewScoreboardEvent;
        ScoreboardService.OldScoreboardEvent += HandleOldScoreboardEvent;
        var t = HandleAuthProvider();
        return Task.CompletedTask;
    }

    protected override void OnParametersSet()
    {
        if (selectedRoundId is long roundId)
        {
            // We are in "show old round" mode.
            ScoreboardService.TryGetOrRequest(roundId, out currentScoreboard);
            if (roundId > 0)
            {
                ScoreboardService.TryGetOrRequest(roundId - 1, out previousScoreboard);
            }

            // Also request the neighbouring rounds
            ScoreboardService.TryGetOrRequest(roundId - 2, out _, true);
            ScoreboardService.TryGetOrRequest(roundId + 1, out _, true);
            ScoreboardService.TryGetOrRequest(roundId - 3, out _, true);
            ScoreboardService.TryGetOrRequest(roundId + 2, out _, true);
        }
        else
        {
            // We are in "show current round" mode.
            currentScoreboard = ScoreboardService.LatestScoreboard;
            if (currentScoreboard?.CurrentRound > 1)
            {
                ScoreboardService.TryGetOrRequest(currentScoreboard.CurrentRound - 1, out previousScoreboard);
            }
        }
    }

    public void Dispose()
    {
        ScoreboardService.NewScoreboardEvent -= HandleNewScoreboardEvent;
        ScoreboardService.OldScoreboardEvent -= HandleOldScoreboardEvent;
    }

    private async Task HandleAuthProvider()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var ni = authState.User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        if (long.TryParse(ni, out var teamId))
        {
            ownId = teamId;
            StateHasChanged();
        }
    }

    private void HandleOldScoreboardEvent(Scoreboard oldScoreboard)
    {
        if (selectedRoundId is long roundId)
        {
            // We are in "show old round" mode.
            if (oldScoreboard.CurrentRound == roundId)
            {
                currentScoreboard = oldScoreboard;
            }
            if (oldScoreboard.CurrentRound == roundId - 1)
            {
                previousScoreboard = oldScoreboard;
            }
        }
        else
        {
            // We are in "show current round" mode.
            if (oldScoreboard.CurrentRound == currentScoreboard?.CurrentRound - 1)
            {
                previousScoreboard = oldScoreboard;
            }
        }
        StateHasChanged();
    }

    private void HandleNewScoreboardEvent(Scoreboard newScoreboard)
    {
        logger.LogInformation("HandleNewScoreboardEvent");
        if (selectedRoundId == null) // We are in "show current round" mode.
        {
            if (newScoreboard.CurrentRound > currentScoreboard?.CurrentRound)
            {
                // A new round has finished.
                ScoreboardService.TryGetOrRequest(newScoreboard.CurrentRound - 1, out previousScoreboard);
                currentScoreboard = newScoreboard;
            }
            else
            {
                // The CTF was restarted or we just started
                previousScoreboard = null;
                currentScoreboard = newScoreboard;
                ScoreboardService.TryGetOrRequest(newScoreboard.CurrentRound - 1, out previousScoreboard);
            }
            StateHasChanged();
        }
    }
}
