@page "/teams"
@using EnoLandingPageFrontend.Services
@using EnoLandingPageCore.Messages
@inject LandingPageDataApiService DataService

<div class="container p-3">
    <h1>Teams</h1>

    @if (teams != null)
    {
<div>
    <hr />
    <h4>Confirmed</h4>
    @foreach (var team in teams.ConfirmedTeams)
    {
        @if (team.CtftimeId is long ctftimeId)
        {
            string? countryUrl = null;
            if (team.CountryCode != null && team.CountryCode != string.Empty)
            {
                countryUrl = $"https://cdn.ipregistry.co/flags/wikimedia/{team.CountryCode?.ToLower()}.png";
            }
            <div class="teams-list-container">
                <div class="team-list-item-logo-container">
                    <img src="@team.LogoUrl" class="team-list-item-logo" referrerpolicy="no-referrer" />
                </div>
                <div class="team-list-item-name-container">
                    <a href="https://ctftime.org/team/@(ctftimeId)">@team.Name</a>
                </div>
                <img src="@countryUrl" class="team-list-item-countryflag" referrerpolicy="no-referrer" />
            </div>
            <hr />
        }
        else
        {
            <div>@team.Name</div>
        }
    }

    <hr />
    <h4>Registered</h4>
    @foreach (var team in teams.RegisteredTeams)
    {
        @if (team.CtftimeId is long ctftimeId)
        {
            string? countryUrl = null;
            if (team.CountryCode != null && team.CountryCode != string.Empty)
            {
                countryUrl = $"https://cdn.ipregistry.co/flags/wikimedia/{team.CountryCode?.ToLower()}.png";
            }
            <div class="teams-list-container">
                <div class="team-list-item-logo-container">
                    <img src="@team.LogoUrl" class="team-list-item-logo" referrerpolicy="no-referrer" />
                </div>
                <div class="team-list-item-name-container">
                    <a href="https://ctftime.org/team/@(ctftimeId)">@team.Name</a>
                </div>
                <img src="@countryUrl" class="team-list-item-countryflag" referrerpolicy="no-referrer" />

            </div>
            <hr />
        }
        else
        {
            <div>@team.Name</div>
        }
    }
</div>
    }
</div>

@code {
    private TeamsMessage? teams;

    protected override async Task OnInitializedAsync()
    {
        teams = await DataService.GetTeams();
    }
}
