@page "/team"

@using EnoLandingPageFrontend.Services
@using EnoLandingPageCore
@inject EnoLandingPageDataService DataService


@if (teamInformation != null)
{
    <h3>@(teamInformation.TeamName) (@(teamInformation.Id))</h3>
    <div>
        <div>External IP Address:</div>
        <code>@(teamInformation.ExternalIpAddress ?? "t.b.d.")</code>
    </div>
    <div>
        <div>Root Password:</div>
        <code>@(teamInformation.RootPassword ?? "t.b.d.")</code>
    </div>
    <div>
        <div>Internal IP Address:</div>
        <code>@(teamInformation.InternalIpAddress ?? "t.b.d.")</code>
    </div>
    <div>
        <div>Vulnbox Status:</div>
        <code>@teamInformation.VulnboxStatus</code>
    </div>
    <div>
        <div>Vpn Configuration:</div>
        <code>@(teamInformation.VpnConfig ?? "t.b.d.")</code>
    </div>
}
else
{
<p>Failed to fetch team information. Please try logging in again.</p>
}

@code {
    private TeamInfo? teamInformation;

    protected override async Task OnInitializedAsync()
    {
        teamInformation = await DataService.GetTeamInfo();
    }
}
